.footer-info-grid{
    background:#a9a3a3;
    color:#fff;
}

.custom-footer-info .page-width{
    max-width:1400px;
    margin:auto;
}

.footer-info-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:60px;
    padding:50px 7rem;
}

.footer-column h3{
    font-size:18px;
    text-transform:uppercase;
    font-weight: 500;
}

.footer-column p{
    margin:0;
}
.footer-column:last-child p{
    line-height: 2;
}

.newsletter-box{
    display:flex;
    overflow:hidden;
    border-radius:40px;
    margin-bottom:30px;
}

.newsletter-box input{
    flex:1;
    border:none;
    padding: 16px 0px 16px 26px;
    font-size: 16px;
    width: 175px;
    color: #4a4031;
}

.newsletter-box button{
    background:#ffb687;
    border:none;
    padding:0 28px;
    font-weight:700;
    cursor:pointer;
    color: white;
    font-size: 14px;
}

.footer-social{
    display:flex;
    gap:20px;
}

.footer-social svg{
    width:22px;
    height:22px;
}

.footer-bottom{
    padding:22px 0;
}

.footer-bottom-inner{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
}

.footer-payment-grid{
    background:#908989;
    color:#fff;
    display: flex;
    padding: 30px 7rem;
}
.footer-payment-grid .footer-text{
    font-size: 14px;
    margin-top: 3px;
}
.footer-payment-grid a{
    color:#bdbdbd;
}
.footer-payment-grid a:hover{
    color:#979797;
    text-decoration: underline;
}
.footer-payments{
    display: flex;
    gap: 12px;
    margin-left: auto;
}
.footer-payments svg{
    width: 40px;
    height: 30px;
}


@media(max-width:990px){
    .footer-info-grid{
        grid-template-columns:1fr 1fr;
        gap:40px;
    }

    .footer-bottom-inner{
        flex-direction:column;
    }
}

@media (max-width: 749px) {
    .footer-info-grid{
        grid-template-columns:1fr;
        padding: 70px 3.5rem;
        text-align: center;
    }
    .newsletter-box {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        align-items: stretch;
    }

    .newsletter-box input[type="email"] {
        flex: 1;
        min-width: 0;
    }

    .newsletter-box button {
        width: auto;
        flex-shrink: 0;
    }

    .footer-payment-grid{
        display: grid;
        padding: 70px 3.5rem;
        text-align: center;
    }
    .footer-payments{
        flex-wrap: wrap;
    }
}